{% extends "mi_tienda/index.html" %}
{% load static %}
{% load staticfiles %}
{% block header %}
    <h1 align="center">Red Hot Chili Shoppers</h1>
{% endblock %}
{% block content %}

    <div>
    <section align="center">
      <h1> ... me lo robaron :(</h1>
      <img src="{% static "img/travolta.gif" %}" width="300" height="300"></img>
      {% if list_carrito %}
      <h3> Es broma, aquí lo tienes: </h3>
        <form method="post" action="/pedido/">
            <button type="submit">Hacer Pedido</button>
        </form>
        <ul>
        {% for product in list_carrito %}
            <li> {{ product.tipo_producto }}: {{ product.campo1}}, {{ product.campo2 }} </li>
            <form method="get" action="/eliminar/{{ product.tipo_producto }}/{{ product.campo1 }}/{{ product.campo2 }}/">
                <ul>
                <button type="submit">Eliminar</button>
                </ul>
            </form>
        {% endfor %}
        </ul>
      {% else %}
        <h3> Es broma, no hay nada en el carrito </h3>
      {% endif %}
    </div>
{% endblock %}
