{% extends "mi_tienda/index.html" %}
{% load static %}
{% load staticfiles %}
{% block headerstyle %}
.header-footer {
padding: 1em;
color: white;
background-color: blue;
clear: left;
text-align: center;
}
{% endblock %}
{% block header %}
    <h1 align="center">Red Hot Chili Shoppers - Enjoy the music!</h1>
{% endblock %}
{% block content %}
    {% if latest_music_list %}

        {% for disco in latest_music_list %}
            <div class="gallery">
            <a href="/tienda/product/discos/{{ disco.autor }}/{{ disco.titulo }}"><img src="{% static disco.imagen %}" width="100" height="100"><br>{{ disco.titulo }} - {{ disco.autor}}</a></li>
            </div>
        {% endfor %}

    {% else %}
    <div>
        No hay discos
     </div>
    {% endif %}
{% endblock %}
