<html>
<head>
  <title>Red Hot Chili Shoppers</title>
</head>
<body>
  <h1> Red Hot Chili Shoppers </h1>
  <h2> Bienvenido a mi tienda! </h2>
  <div>
    <h3> Explora nuestros discos </h3>
    {% if latest_music_list %}
        <ul>
        {% for disco in latest_music_list %}
            <li><a href="/mi_tienda/{{ disco.titulo }}/">{{ disco.titulo }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No hay discos.</p>
    {% endif %}
  </div>
  <div>
    <h3> Explora nuestros libros </h3>
    {% if latest_book_list %}
        <ul>
        {% for libro in latest_book_list %}
            <li><a href="/mi_tienda/{{ libro.titulo }}/">{{ libro.titulo }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No hay libros.</p>
    {% endif %}
  </div>
  <div>
    <h3> Explora nuestras bicis </h3>
    {% if latest_bici_list %}
        <ul>
        {% for bici in latest_bici_list %}
            <li><a href="/mi_tienda/{{ bici.modelo }}/">{{ bici.modelo }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No hay bicis.</p>
    {% endif %}
  </div>
</body>
</html>
