{% extends "mi_tienda/index.html" %}
{% load static %}
{% load staticfiles %}
{% block headerstyle %}
    .header-footer {
    padding: 1em;
    color: white;
    background-color: orange;
    clear: left;
    text-align: center;
    }
{% endblock %}
{% block header %}
    <h1 align="center">Red Hot Chili Shoppers - Dive into wisdom!</h1>
{% endblock %}
{% block content %}
    {% if latest_book_list %}
        {% for libro in latest_book_list %}
            <div class="gallery">
            <a href="/tienda/product/libros/{{ libro.autor }}/{{ libro.titulo }}"><img src="{% static libro.imagen %}" width="150" height="200"></img><br>{{ libro.titulo }} - {{ libro.autor}}</a></li>
            </div>
        {% endfor %}
    {% else %}
      <div>
        No hay libros
      </div>
    {% endif %}
{% endblock %}
