{% extends "mi_tienda/index.html" %}
{% load static %}
{% load staticfiles %}
{% block headerstyle %}
    .header-footer {
    padding: 1em;
    color: white;
    background-color: green;
    clear: left;
    text-align: center;
    }
{% endblock %}
{% block header %}
    <h1 align="center">Red Hot Chili Shoppers - Cycle like there's no tomorrow!</h1>
{% endblock %}
{% block content %}
    {% if latest_bici_list %}
        {% for bici in latest_bici_list %}
          <div class="gallery">
            <a href="/tienda/product/bicis/{{ bici.marca }}/{{ bici.modelo }}"><img src="{% static bici.imagen %}" width="100" height="75"></img><br>{{ bici.modelo }} de {{ bici.marca }}</a>
          </div>
        {% endfor %}
        </ul>
    {% else %}
        <div>
        No hay bicis
        </div>
    {% endif %}

{% endblock %}
