{% extends "mi_tienda/index.html" %}
{% load static %}
{% load staticfiles %}
{% block headerstyle %}
.header-footer {
padding: 1em;
color: white;
background-color: blue;
clear: left;
text-align: center;
}
{% endblock %}
{% block header %}
    <h1 align="center">Red Hot Chili Shoppers</h1>
{% endblock %}
{% block content %}
    <style>
    .header-footer {
    padding: 1em;
    color: white;
    background-color: blue;
    clear: left;
    text-align: center;
    }
    </style>
    <div class="product">
      {% if product_type == "discos" %}
        {% if product_data %}
        {% if product_data.cantidad >= 1 %}
          <form method="get" action="/comprar/disco/{{ product_data.autor }}/{{ product_data.titulo }}/">
              <button type="submit">Añadir al carro</button>
          </form>
          {% else %}
            <p>Agotado temporalmente</p>
          {% endif %}
          <div class="subproduct">
          <img src="{% static product_data.imagen %}" width="300" height="300"></img><br>
        </div>
          <div class="subproduct">
          <ul>
              <li>Titulo: {{ product_data.titulo }}</li>
              <li>Interprete: {{ product_data.autor }}</li>
              <li>Precio: {{ product_data.precio }} €</li>
              <li>Fecha de lanzamiento: {{ product_data.fecha_pub }}</li>
              <li>Genero: {{ product_data.genero }}</li>
              <li>Discografica: {{ product_data.discografica }}</li>
              <li>Cantidad: {{ product_data.cantidad }}</li>
          </ul>
        </div>
        {% else %}
            <p>Ups! Disco no encontrado :(</p>
        {% endif %}
      {% endif %}

      {% if product_type == "libros" %}
      <style>
      .header-footer {
      padding: 1em;
      color: white;
      background-color: orange;
      clear: left;
      text-align: center;
      }
      </style>
        {% if product_data %}
        {% if product_data.cantidad >= 1 %}
          <form method="get" action="/comprar/libro/{{ product_data.autor }}/{{ product_data.titulo }}/">
              <button type="submit">Añadir al carro</button>
          </form>
        {% else %}
          <p>Agotado temporalmente</p>
        {% endif %}
          <br>
          <div class="subproduct">
          <img src="{% static product_data.imagen %}" width="200" height="300">
        </div>
        <div class="subproduct">
          <ul>
              <li>Titulo: {{ product_data.titulo }}</li>
              <li>Interprete: {{ product_data.autor }}</li>
              <li>Precio: {{ product_data.precio }} €</li>
              <li>Fecha de lanzamiento: {{ product_data.fecha_pub }}</li>
              <li>Genero: {{ product_data.genero }}</li>
              <li>Editorial: {{ product_data.editorial }}</li>
              <li>Cantidad: {{ product_data.cantidad }}</li>
          </ul>
        </div>
        {% else %}
            <p>Ups! Libro no encontrado :(</p>
        {% endif %}
      {% endif %}


      {% if product_type == "bicis" %}
      <style>
      .header-footer {
      padding: 1em;
      color: white;
      background-color: green;
      clear: left;
      text-align: center;
      }
      </style>
        {% if product_data %}
          {% if product_data.cantidad >= 1 %}
            <form method="get" action="/comprar/bici/{{ product_data.marca }}/{{ product_data.modelo }}/">
                <button type="submit">Añadir al carro</button>
            </form><br>
          {% else %}
            <p>Agotado temporalmente</p>
          {% endif %}
          <div class="subproduct">
          <img src="{% static product_data.imagen %}" width="300" height="200">
        </div>
        <div class="subproduct">
          <ul>
              <li>Modelo: {{ product_data.modelo }}</li>
              <li>Marca: {{ product_data.marca }}</li>
              <li>Precio: {{ product_data.precio }} €</li>
              <li>Color: {{ product_data.color }}</li>
              <li>Pulgadas: {{ product_data.pulgadas_rueda}}</li>
              <li>Descripción: <br> {{ product_data.descripcion }}</li>
              <li>Cantidad: {{ product_data.cantidad }}</li>
          </ul>
        </div>
        {% else %}
            <p>Ups! Bici no encontrada :(</p>
        {% endif %}
      {% endif %}
    </div>
    </div>
{% endblock %}
